*{
    box-sizing: border-box;
    margin: 0;
    padding: 0px;

}
.footer{
    height: 70px;
    background-color: gray;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}